# Do not overwrite `settings.py` files, instead of rename this file to `settings_local.py` and specify your custom
# settings in it

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'fotuto',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}
