{% extends 'base.html' %}

{% block title %}Windows{% endblock %}

{% block header_text %}Windows{% endblock %}

{% block breadcrums %}
	<li class="active">Windows</li>
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Options</th>
        </tr>
        {% for window in window_list %}
            <tr>
                <td>{{ window.title }}</td>
                <td>
                    <a href="{% url 'window_details' window.slug %}" class="view">View</a>
                    Edit
                    <a href="{% url 'mimic_manage' window.slug %}" class="manage-mimics">Mimics</a>
                    Delete
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}