{% extends 'base.html' %}

{% block title %}{{ window.title }}{% endblock %}

{% block header_text %}{{ window.title }}{% endblock %}

{% block breadcrums %}
    <li><a href="{% url 'window_list' %}">Windows</a></li>
    <li class="active">{{ window.title }}</li>
{% endblock %}

{% block content %}
    <div id="last_updated_notificaion">Last updated: <span class="value">{{ timestamp|date:'Y-m-d @ H:i:s' }}</span></div>
    {% for mimic in window.mimics.all %}
        <div class="mimic">
            <h3 class="name">{{ mimic.name }}</h3>
            <ul class="vars">
                {% for var in mimic.vars.all %}
                    <li class="var" title="{{ var.name }}">{{ var.value }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}